name: build (onnxruntime)

on:
  workflow_dispatch:
  schedule:
    - cron: 0 2 * * *

jobs:
  linux-wheel:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: [ 'cp311', 'cp312', 'cp313', 'cp313t', 'cp314', 'cp314t' ]
    steps:
      - name: Check Build
        run: |
          version=$(curl -s "https://api.github.com/repos/microsoft/onnxruntime/releases/latest" | jq -r .tag_name)
          if [ -z "${version}" ] || [ "${version}" == "null" ]; then
            echo "Failed to get version"
            exit 1
          fi

          echo "version=${version}" >> $GITHUB_ENV
          echo ""
          echo "========== Build Args =========="
          echo "onnxruntime version: ${version}"

          python_version=${{ matrix.python }}
          gh release view ${version} -R ${{ github.repository }} | grep onnxruntime-${version/v/}-${python_version%t}.*.whl >/dev/null 2>&1 || echo "build=1" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Code
        if: env.build == '1'
        uses: actions/checkout@v6
        with:
          repository: microsoft/onnxruntime
          ref: ${{ env.version }}
          submodules: true

      - name: Patch Code
        if: env.build == '1'
        run: |
          wget -qO - https://github.com/loong64/onnxruntime/raw/refs/heads/main/patch_loong64.patch | patch -p1
          wget -qO cmake/vcpkg-ports/cpuinfo/patch_cpuinfo_h_for_loong64.patch https://github.com/loong64/pytorch/raw/refs/heads/main/cpuinfo/cpuinfo_loong64.patch

      - name: Setup QEMU
        if: env.build == '1'
        uses: docker/setup-qemu-action@v3

      - name: Build wheels
        if: env.build == '1'
        timeout-minutes: 330
        run: |
          mkdir -p "${HOME}/data/build"
          DEVICE=CPU
          BUILD_CONFIG=Release
          DOCKER_SCRIPT_OPTIONS=("-d" "${DEVICE}" "-c" "${BUILD_CONFIG}")
          PYTHON_VERSION=${{ matrix.python }}
          if [ "${PYTHON_VERSION}" = "cp313t" ] || [ "${PYTHON_VERSION}" = "cp314t" ]; then
            PYTHON_VERSION=${PYTHON_VERSION%t}
          fi
          PYTHON_EXES="/opt/python/${PYTHON_VERSION}-${{ matrix.python }}/bin/python"
          if [ "${PYTHON_EXES}" != "" ] ; then
            DOCKER_SCRIPT_OPTIONS+=("-p" "${PYTHON_EXES}")
          fi
          BUILD_EXTR_PAR='--use_binskim_compliant_compile_flags --build_wheel --cmake_extra_defines onnxruntime_BUILD_BENCHMARKS=ON'
          if [ "${BUILD_EXTR_PAR}" != "" ] ; then
            DOCKER_SCRIPT_OPTIONS+=("-x" "${BUILD_EXTR_PAR}")
          fi
          DOCKER_IMAGE="ghcr.io/loong64/onnxruntimecpubuildpythonloongarch64:${{ env.version }}"

          docker run --rm \
            --platform linux/loong64 \
            --volume "$(pwd):/onnxruntime_src" \
            --volume "${HOME}/data/build:/build" \
            -w /onnxruntime_src \
            -e ALLOW_RELEASED_ONNX_OPSET_ONLY=0 \
            "$DOCKER_IMAGE" tools/ci_build/github/linux/build_linux_python_package.sh "${DOCKER_SCRIPT_OPTIONS[@]}"

      - name: Upload wheels
        if: env.build == '1'
        run: |
          pip install twine==6.0.1
          for file in wheelhouse/*.whl; do
            twine upload --repository-url https://gitlab.com/api/v4/projects/65746188/packages/pypi $file || true
          done
        env:
          TWINE_USERNAME: ${{ github.repository_owner }}
          TWINE_PASSWORD: ${{ secrets.GL_TOKEN }}

      - name: Upload release
        if: env.build == '1'
        run: |
          gh release upload ${{ env.version }} -R ${{ github.repository }} wheelhouse/*.whl --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}